.btn {
    &,
    &:visited,
    &:link {
        color: $color-white;
        text-decoration: none;
        background-color: $color-red;
        padding: .5rem;
        font-size: 2rem;
        font-weight: 900;
        border-radius: 2rem;
        width: 10rem;
        height: 4rem;
        display: inline-block;
    }

    &:not(:last-child) {
        margin-right: 2rem;
    }
}